/* GLOBAL AND MOBILE STYLES FIRST */

/* For all screem */
body {
  margin:0;
  padding:0;
  font-family: Verdana, Geneva, sans-serif;
}
header {
  background: #ccc;
  color: #444;
  font-family: Verdana, Geneva, sans-serif;
}
nav {
  background: #aaa;
  width: 100%;
  padding: 1em;
  display: block;
}

ul {
    list-style-type: none;
    margin: 1em;
    padding: 1em;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  padding: 1em;
}
main {
  background: #eee;
  padding: .5em;
}
section {
  background: #888;
}

.turtlebanner {
    max-width: 100%;
    height: auto;
}


/* FIRST BREAKPOINT (MEDIUM SIZE) */
@media screen and (min-width: 500px) {
  header {
    background: #de9;
    color: #ccc;
  }
  nav a {
    width: 44%;
    display: inline-block;
  }
  nav a:hover {
    background: #777;
  }
  h1 {
    font-size: 2em;
  }
  main {
    width: 90%;
    margin: 0 auto;
  }
  section {
    width: 44%;
    margin: 2%;
    display: inline-block;
    background: #444;
    color: #999;
  }
  section:hover {
    background: #666;
  }
}
/* END FIRST BREAKPOINT */


/* SECOND BREAKPOINT (DESKTOP SIZE) */
@media screen and (min-width: 1000px) {
  header {
    background: #222;
    color: #ccc;
  }
  nav {
    display: block;
  }
  nav a {
    line-height: 3em;
    width: inherit;
  }
  #menu {
    display: none;
  }
  main {
    max-width: 1000px;
  }
  section {
    width: 22%;
    margin: 1em 1% 1em 1%;
    background: #222;
    border-color: #666;
    font-size: 1.5em;
  }
}
/* END SECOND BREAKPOINT */