/* GLOBAL AND MOBILE STYLES FIRST */

/* For all screem */
body {
  font-family: Verdana, Geneva, sans-serif;
  background-color: mediumaquamarine;
}
header {
  font-family: Verdana, Geneva, sans-serif;
  color: mediumpurple;
  padding: none;
  text-align: center;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a, .dropdown {
    display: inline-block;
    color: white;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}


h1 {
  font-size: 1.5em;
  margin: 0;
  padding: 1em;
}
main {
  background-color: mediumaquamarine;
  }

.turtlebanner {
    max-width: 100%;
    height: auto;
    width: auto;
    background-color: mediumaquamarine;
}


/* FIRST BREAKPOINT (MEDIUM SIZE) */
@media screen and (min-width: 500px) {
  header {
    background-color: antiquewhite;
  }
  nav a {
    width: 44%;
    display: inline-block;
  }
  nav a:hover {
    background-color: antiquewhite;
  }
  h1 {
    font-size: 2em;
  }
  main {
    width: 90%;
    margin: 0 auto;
  }
  section {
    width: 44%;
    margin: 2%;
    display: inline-block;
    background: #444;
    color: #999;
  }
  section:hover {
    background: #666;
  }
}
/* END FIRST BREAKPOINT */


/* SECOND BREAKPOINT (DESKTOP SIZE) */
@media screen and (min-width: 1000px) {
  header {
    background-color: antiquewhite;
  }
  nav {
    display: block;
  }
  nav a {
    line-height: 3em;
    width: inherit;
  }
  main {
    max-width: 1000px;
  }
  section {
    width: 22%;
    margin: 1em 1% 1em 1%;
    background: #222;
    border-color: #666;
    font-size: 1.5em;
  }
    
.turtlebanner {
      padding: 0 6px;
      float: left;
      width: 100%;
}
}
/* END SECOND BREAKPOINT */