/* GLOBAL AND MOBILE STYLES FIRST */

html, body {
    max-width: 100%;
    overflow-x: hidden;    
}

body {
  margin: 0; /* Gets rid of space around page */
  background-color: mediumaquamarine;
  color: white;
  text-align: center;
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
}

header {
  background-color: mediumaquamarine;
  color: white;
}


/* Navigation Bar style starts */

nav {
  background-color: mediumaquamarine;
  display: none;
}

nav a {
  padding: 1em;
  display: block;
  margin-left: -40px;
}


#menu {
  display: block;
  text-align: right;
  padding-bottom: 2.4em;
  margin-top: 1em;
  padding-top: 1em;
  margin-right: 0.6em;
}

.show-menu {
  display: block;
  text-align: right; 
}

.mainnav{
    transition-property: width;
    transition-duration: 3s;
    transition-timing-function: linear;
    transition-delay: 3s;
}

/* https://www.w3schools.com/css/css3_transitions.asp */ 

a {
  color: #fff;
  text-decoration: none;
}

li {
  list-style-type: none;
}

li a, .dropdown {
  padding: 1em;
}

.dropdown {
  border-top: solid white;
}
.mainnav:hover, .dropdown-content a:hover {
    background-color: #f1f1f1;
    color: mediumaquamarine;
    transition: all 0.8s;

}

.dropdown:hover, li a:hover {
  /* background-color: #008080; See if better with or without*/
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content {
    display: none; /* Hides second level menu -on click it appears */
}

.dropdown:hover .dropdown-content {
  margin-top: 13px;
  display: block;
  text-align: center;
  padding: 10px 14px;
  list-style-type: none;
  cursor: pointer;
}

/* Navigation Bar style ends */

main {
  background-color: white;
  line-height: 30px;
}

blockquote {
    font-family: 'EB Garamond', serif;
	position: relative;
    margin-top: 65px;
    height: 100%;
	line-height: 1.4;
    color: mediumaquamarine;
    font-size: 2em;
}

q:before { 
    content: open-quote;
    margin-right: 10px;
}

q:after { 
    content: close-quote;
    margin-left: 10px;
}

h1 {
    float: left; 
    margin-top: -10px;
    padding: 10px;
}
h2 {
    font-size: 2em;
    margin-top: 15px;
    width: 100%;
}

.us {
    font-size: 1.7em;
}

#turtles {
  line-height: 1.5em;
  font-size: 1.5em;
}

.boxshadow1 { 
      box-shadow: 0px 1px 16px 10px #b3ffd9;
}

#OS1{
    margin-top: -10px;
}

#nationalpark {
    color: mediumaquamarine;
    text-decoration: underline;
}

#historyturtles {
    color: mediumaquamarine;
    text-decoration: underline;
}

section {
  background-color: white;
  color: mediumaquamarine;
  margin-top: 10px;
  padding: 1em;
  box-shadow: 0px 8px 16px 0px #b3ffd9;
}

.turtlebanner {
  max-width: 150%;
  margin-top: -29.4px;
  margin-left: -110px;
}

/* Page 1 pictures of heroes */

.ninjaturtles, .avanti, .zahraa {
    max-width: 100%;
    height: 300px;
}

.amina, .sadiyya {
    max-width: 100%;
    height: 400px;
}

/* Responsive Gallery */

div.gallery:hover {
 box-shadow: 0px 0px 5px 5px rgb(102,205,170);
 padding: 1.5em;
 margin-bottom: 20px;
}

div.desc {
    text-align: left;
    margin-bottom: 50px;
}

*{
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 100%
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


/* Page 1 Map */
#map {
  height: 400px;
  max-width: 100%;
}


/* Page 2 Pictures */
.seaturtle  {
    width: 50%;
}

.kemp{
    width: 50%;

 }

.leatherback {
    width: 50%;

}

.greenturtle {
    width: 50%;
}


/* Page 3 Forms */

/* Bookmark Buttons on involve.html*/

.form1, .form2, .form3{
  height: 60px;
  margin-bottom: 20px;
  padding: 10px 10px 10px 10px;
  background-color: mediumaquamarine;
  color: white;
  text-align: center;
  list-style-type: none;
  width: 60%; 
  cursor: pointer;
  padding: 1em;
  display: flex;
  flex: 1;
  flex-flow: row wrap;
  flex-direction: column;
  margin-left: 20%;
  margin-right: 20%;
}
   
.buttonforms {
  margin-bottom: 50px;
    
}

.buttonforms a:hover{
    background-color: #f1f1f1;
    color: mediumaquamarine;
}

label {
    display: inline-block;
    padding-bottom: 6px;
    padding-top: 20px;
}

input {
    width: 100%;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;

}

input[type=tel] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;

}

input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;

}

input[type=text]:focus {
    border-color: mediumaquamarine;
}

select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

input[type=checkbox] {
    width: 47px;
    margin-top: 20px;
    margin-left: -10px;
}

input[type=button], input[type=submit] {
    background-color: mediumaquamarine;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}

input[type=submit] {
    display: block;
    border-radius: 4px;
}


input[type=radio] {
    background-color: mediumaquamarine;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    width: 20%;
}

fieldset {
    border: none;
}

/* Green Radio buttons on forms */

.donateradio, .plan{
  display: flex;
  flex-flow: row wrap;
  flex: 1;
  flex-direction: column;
  box-shadow: 10px 10px 10px 10px white; /* Hide Green boxshadow */
  margin-top: -10px;

}

.donateradio input[type="radio"], .plan input[type="radio"] {
  display: none; /* hides radio button */
}

.donatelabel, .plan {
  height: 100%;
  display: block;
  color: white;
  background: mediumaquamarine;
  border: 2px solid mediumaquamarine;
  border-radius: 10px;
  text-align: center;
  position: relative;
  padding: 10px;
  margin-bottom: 20px;    
}

.donateradio label:hover {
    background:#DDD;
    color: darkcyan;
}

.plan label:hover {
    background:#DDD;
    color: darkcyan;
}

input[type="radio"]:checked + .donatelabel {
  background: #ddd;
  color: darkcyan;
}

input[type="radio"]:checked + .plan {
  background: #ddd;
  color: darkcyan;
}

#amount {
    margin-top: -10px;
}

.carddetails {
    display: block;
    font-size: 2em;
}

.regular {
  width: 100%;
  margin-top: -10px; 
  font-size: 1.1em;
}


.regular1 {
    border-color: #008080;
    border-style: solid;
}

.cardtype {
    display: block;
}

.creditcard {
   margin-right: 26%; 
   margin-left: 16%;
}
.nameoncard {
    display: block;
}

input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
}


textarea {
  font:inherit;
  width: 100%;
}

#submitmessage {
    margin-bottom: 50px;
}

#get-name { 
    padding: 0.5em; 
}

#my-name {
    display: block;
}

#video {  /* HTML code from youtube embed function */
  width: 100%;
  height: 300px;
  border: 0px;
}

.turtlefacts {
    text-align: left;
    line-height: 40px;
    list-style-type: circle;    
}

#turtlefactswebsite {
    color: mediumaquamarine;
    background: white;
    margin-left: -0px;
    padding: .1em; /* Make link button smaller */
}


/* Style the Image Used to Trigger the Modal */
#myimg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 300px; /*Change */
    height: auto; /* xchnage */
}

#myimg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}


/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.modal-content {
        width: 100%;
    }

.top {
  color: white;
  background-color: mediumaquamarine;
  display: block;
  position: fixed; 
  bottom: 9px; 
  right: 10px;
  padding: 15px; 
  font-size: 12px;
  line-height: 14px;
}

.top:hover {
  background: rgba(200,200,200,0.96);
  color: #fff;
}


/* FIRST BREAKPOINT (MEDIUM SIZE) */

@media screen and (min-width: 500px) {
  header {
    background: #444;
    color: #ccc;
  }
  nav a {
    width: 44%;
    display: inline-block;
  }
  nav a:hover {
    background: #777;
  }
  h1 {
    font-size: 2em;
  }
  main {
    width: 90%;
    margin: 0 auto;
  }
  section {
    width: 44%;
    margin: 2%;
    display: inline-block;
    background: #444;
    color: #999;
  }
  section:hover {
    background: #666;
  }
    
    
        .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
    
    
}


/* END FIRST BREAKPOINT */


/* SECOND BREAKPOINT (DESKTOP SIZE) */

@media screen and (min-width: 1000px) {
  header {
    background: #222;
    color: #ccc;
  }
  nav {
    display: block;
  }
  nav a {
    line-height: 3em;
    width: inherit;
  }
  #menu {
    display: none;
  }
  main {
    max-width: 1000px;
  }
  section {
    width: 22%;
    margin: 1em 1% 1em 1%;
    background: #222;
    border-color: #666;
    font-size: 1.5em;
  }
    
    .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}
}


/* END SECOND BREAKPOINT */