/* GLOBAL AND MOBILE STYLES FIRST */

body {
  margin: 0;
  padding: 0;
  background-color: mediumaquamarine;
  color: white;
  text-align: center;
  font-family: Verdana, Geneva, sans-serif;
}

header {
  background-color: mediumaquamarine;
  color: white;
}


/* Navigation Bar style starts */

nav {
  background-color: mediumaquamarine;
  display: none;
}

nav a {
  padding: 1em;
  display: block;
  margin-left: -40px;
}

#menu {
  background-color: mediumaquamarine;
  display: block;
  text-align: right;
  padding-bottom: 1em;
  margin-top: -0.5em;
  margin-right: 0.6em;
}

.show-menu {
  display: block;
  text-align: right;
}

a {
  color: #fff;
  text-decoration: none;
}

li {
  list-style-type: none;
}

li a,
.dropdown {
  padding: 1em;
}

.dropdown:hover,
li a:hover {
  /* background-color: #008080; See if better with or without*/
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: mediumaquamarine;
}

.dropdown:hover .dropdown-content {
  margin-top: 13px;
  display: block;
  text-align: center;
  padding: 10px 14px;
  list-style-type: none;
}


/* Navigation Bar style ends */

h1 {
  font-size: 1.5em;
  margin: 0;
  padding: 1em;
}

main {
  background-color: white;
  padding: .5em;
}

section {
  background-color: white;
  color: mediumaquamarine;
  margin-top: 100px;
}

.turtlebanner {
  max-width: 103.8%;
  margin-top: -8px;
  margin-left: -8px;
}

/* Page 1 Map */
#map {
  height: 400px;
  max-width: 100%;
}


/* Scrollbar Colour */
/* width */

::-webkit-scrollbar {
  width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
  background: mediumaquamarine;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/* Page 2 Pictures */
.seaturtle  {
    width: 50%;
}

.kemp{
    width: 50%;

 }

.leatherback {
    width: 50%;

}

.greenturtle {
    width: 50%;
}


/* FIRST BREAKPOINT (MEDIUM SIZE) */

@media screen and (min-width: 500px) {
  header {
    background: #444;
    color: #ccc;
  }
  nav a {
    width: 44%;
    display: inline-block;
  }
  nav a:hover {
    background: #777;
  }
  h1 {
    font-size: 2em;
  }
  main {
    width: 90%;
    margin: 0 auto;
  }
  section {
    width: 44%;
    margin: 2%;
    display: inline-block;
    background: #444;
    color: #999;
  }
  section:hover {
    background: #666;
  }
}


/* END FIRST BREAKPOINT */


/* SECOND BREAKPOINT (DESKTOP SIZE) */

@media screen and (min-width: 1000px) {
  header {
    background: #222;
    color: #ccc;
  }
  nav {
    display: block;
  }
  nav a {
    line-height: 3em;
    width: inherit;
  }
  #menu {
    display: none;
  }
  main {
    max-width: 1000px;
  }
  section {
    width: 22%;
    margin: 1em 1% 1em 1%;
    background: #222;
    border-color: #666;
    font-size: 1.5em;
  }
}


/* END SECOND BREAKPOINT */