/* GLOBAL AND MOBILE STYLES FIRST */

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  /* Gets rid of space around page */
  background-color: mediumaquamarine;
  color: white;
  text-align: center;
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
}

header {
  background-color: mediumaquamarine;
  color: white;
}

.v-header {
  display: none;
}


/* Navigation Bar style starts */

nav {
  background-color: mediumaquamarine;
  display: none;
}

nav a {
  padding: 1em;
  display: block;
  margin-left: -40px;
}

#menu {
  display: block;
  text-align: right;
  padding-bottom: 2.4em;
  margin-top: 1em;
  padding-top: 1em;
  margin-right: 0.6em;
}

.show-menu {
  display: block;
  text-align: right;
}

.mainnav {
  transition-property: width;
  transition-duration: 3s;
  transition-timing-function: linear;
  transition-delay: 3s;
}


/* https://www.w3schools.com/css/css3_transitions.asp */

a {
  color: #fff;
  text-decoration: none;
}

li {
  list-style-type: none;
}

li a,
.dropdown {
  padding: 1em;
}

.dropdown {
  border-top: solid white;
}

.mainnav:hover,
.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: mediumaquamarine;
  transition: all 0.8s;
}

.dropdown:hover,
li a:hover {
  /* background-color: #008080; See if better with or without*/
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content {
  display: none;
  /* Hides second level menu -on click it appears */
}

.dropdown:hover .dropdown-content {
  margin-top: 13px;
  display: block;
  text-align: center;
  padding: 10px 14px;
  list-style-type: none;
  cursor: pointer;
}


/* Navigation Bar style ends */

main {
  background-color: white;
  line-height: 30px;
}

blockquote {
  font-family: 'EB Garamond', serif;
  position: relative;
  margin-top: 65px;
  height: 100%;
  line-height: 1.4;
  color: mediumaquamarine;
  font-size: 2em;
}

q:before {
  content: open-quote;
  margin-right: 10px;
}

q:after {
  content: close-quote;
  margin-left: 10px;
}

h1 {
  float: left;
  margin-top: -10px;
  padding: 10px;
}

h2 {
  font-size: 2em;
  margin-top: 15px;
  width: 100%;
}

.us {
  font-size: 1.7em;
}

.turtles {
  line-height: 1.5em;
  font-size: 1.5em;
}

.boxshadow1 {
  box-shadow: 0px 1px 16px 10px #b3ffd9;
}

#OS1 {
  margin-top: -10px;
}

#nationalpark {
  color: mediumaquamarine;
  text-decoration: underline;
}

#historyturtles {
  color: mediumaquamarine;
  text-decoration: underline;
}

section {
  background-color: white;
  color: mediumaquamarine;
  margin-top: 10px;
  padding: 1em;
  box-shadow: 0px 8px 16px 0px #b3ffd9;
}

.turtlebanner {
  max-width: 150%;
  margin-top: -29.4px;
  margin-left: -110px;
}


/* Page 1 pictures of heroes */

.ninjaturtles,
.avanti,
.zahraa {
  max-width: 100%;
  height: 300px;
}

.amina,
.sadiyya {
  max-width: 100%;
  height: 400px;
}


/* Responsive Gallery */

div.gallery:hover {
  box-shadow: 0px 0px 5px 5px rgb(102, 205, 170);
  padding: 1.5em;
  margin-bottom: 20px;
}

div.desc {
  text-align: left;
  margin-bottom: 50px;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 100%
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/* Page 1 Map */

#map {
  height: 400px;
  max-width: 100%;
}

.prescontainer {
    display: none;
}

#helplinks {
    display: none;
}

/* Page 2 Pictures */

.seaturtle {
  width: 50%;
}

.kemp {
  width: 50%;
}

.leatherback {
  width: 50%;
}

.greenturtle {
  width: 50%;
}


/* Page 3 Forms */


/* Bookmark Buttons on involve.html*/

.form1,
.form2,
.form3 {
  height: 60px;
  margin-bottom: 20px;
  padding: 10px 10px 10px 10px;
  background-color: mediumaquamarine;
  color: white;
  text-align: center;
  list-style-type: none;
  width: 60%;
  cursor: pointer;
  padding: 1em;
  display: flex;
  flex: 1;
  flex-flow: row wrap;
  flex-direction: column;
  margin-left: 20%;
  margin-right: 20%;
}

.buttonforms {
  margin-bottom: 50px;
}

.buttonforms a:hover {
  background-color: #f1f1f1;
  color: mediumaquamarine;
}

label {
  display: inline-block;
  padding-bottom: 6px;
  padding-top: 20px;
}

input {
  width: 100%;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
}

input[type=tel] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
}

input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
}

input[type=text]:focus {
  border-color: mediumaquamarine;
}

select {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

input[type=checkbox] {
  width: 47px;
  margin-top: 20px;
  margin-left: -10px;
}

input[type=button],
input[type=submit] {
  background-color: mediumaquamarine;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
}

input[type=submit] {
  display: block;
  border-radius: 4px;
}

input[type=radio] {
  background-color: mediumaquamarine;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  width: 20%;
}

fieldset {
  border: none;
}


/* Green Radio buttons on forms */

.donateradio,
.plan {
  display: flex;
  flex-flow: row wrap;
  flex: 1;
  flex-direction: column;
  box-shadow: 10px 10px 10px 10px white;
  /* Hide Green boxshadow */
  margin-top: -10px;
}

.donateradio input[type="radio"],
.plan input[type="radio"] {
  display: none;
  /* hides radio button */
}

.donatelabel,
.plan {
  height: 100%;
  display: block;
  color: white;
  background: mediumaquamarine;
  border: 2px solid mediumaquamarine;
  border-radius: 10px;
  text-align: center;
  position: relative;
  padding: 10px;
  margin-bottom: 20px;
}

.donateradio label:hover {
  background: #DDD;
  color: darkcyan;
}

.plan label:hover {
  background: #DDD;
  color: darkcyan;
}

input[type="radio"]:checked+.donatelabel {
  background: #ddd;
  color: darkcyan;
}

input[type="radio"]:checked+.plan {
  background: #ddd;
  color: darkcyan;
}

#amount {
  margin-top: -10px;
}

.carddetails {
  display: block;
  font-size: 2em;
}

.regular {
  width: 100%;
  margin-top: -10px;
  font-size: 1.1em;
}

.regular1 {
  border-color: #008080;
  border-style: solid;
}

.cardtype {
  display: block;
}

.creditcard {
  margin-right: 26%;
  margin-left: 16%;
}

.nameoncard {
  display: block;
}

input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
}

textarea {
  font: inherit;
  width: 100%;
}

#submitmessage {
  margin-bottom: 50px;
}

#get-name {
  padding: 0.5em;
}

#my-name {
  display: block;
}

#video {
  /* HTML code from youtube embed function */
  width: 100%;
  height: 300px;
  border: 0px;
}

.turtlefacts {
  text-align: left;
  line-height: 40px;
  list-style-type: circle;
}

#turtlefactswebsite {
  color: mediumaquamarine;
  background: white;
  margin-left: -0px;
  padding: .1em;
  /* Make link button smaller */
}

.row, .column {
    display: none;
}


/* ================================= 
  Base Layout Styles
==================================== */


/* ---- Layout Containers ---- */

.carouselgallery {
  padding-bottom: 100px;
  width: 100%;
  height: 100%;
}

.container {
  background: white;
  max-width: 100%;
}

.cube-container {
  text-align: center;
  max-width: 100%;
  height: auto;
  margin: 2em;
  padding-right: 1em;
}


/* ---- Float clearfix ---- */

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
  max-width: 100%;
}

.cube-container {
  margin-left: 20%;
  max-width: 100%;
}


/* ================================= 
  Photo 3D Transforms & Transitions
==================================== */

.cube-container {
  /* This gives it a 3D effect */
  box-shadow: 0 18px 40px 5px rgba(0, 0, 0, .4);
  perspective: 800px;
}

.cube-container {
    float: left;
    margin-left: 25%;
  }

.photo-cube {
  transition: transform 2s ease-in-out;
  width: 220px;
  height: 200px;
  transform-style: preserve-3d;
  /* Creates 3D cube transformation*/
  margin-left: -17px;
}

.photo-cube:hover {
  transform: rotateY(-270deg);
}

.front,
.back,
.left,
.right {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}

.front {
  transform: translate3d(0, 0, 110px);
}

.back {
  transform: translateZ(-110px) rotateY(270deg);
  transform-origin: center left;
}

.left {
  transform: rotateY(-270deg) translate3d(110px, 0, 0);
  transform-origin: top right;
}

.right {
  transform: translateZ(-110px) rotateY(180deg);
}


/* FIRST BREAKPOINT (MEDIUM SIZE) */

@media screen and (min-width: 500px) {
  body {
    background-color: white;
  }
  header {
    background: mediumaquamarine;
    color: white;
    width: 100%;
    position: absolute;
  }
  .v-header {
    display: none;
  }
  nav {
    display: none;
    width: 100%;
    position: absolute;
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    right: 0;
    margin: 0;
  }
  nav a {
    width: 100%;
    display: inline-block;
  }
  #menu {
    display: block;
    text-align: right;
    margin-right: 0.6em;
    margin-bottom: -40px;
    font-size: 1.2em;
  }
  .show-menu {
    text-align: right;
    width: 350px;
    margin-top: 60px;
  }
  h1 {
    font-size: 2em;
    margin-top: 18px;
    margin-bottom: -30px;
  }
  .turtlebanner {
    margin-top: 60px;
    max-width: 130%;
  }
  main {
    width: 90%;
    margin: 0 auto;
  }
    
  section {
    width: 100%;
    display: inline-block;
    background: white;
    margin-bottom: 2em;
    box-shadow: 0px 0px 10px 5px #b3ffd9;
  }
    
  .boxshadow1 {
        display: none;
    }
    
  .aboutus {
        margin-bottom: 4em;
    }
    
  #OS1 {
      text-align: left;
      background-color: mediumaquamarine;
      color: white;
      width: 115%;
      margin-left: -6%;
    }
    
  blockquote {
    box-shadow: 0px 0px 10px 5px #b3ffd9;
    width: 100%;
    margin-left: 0px;
    margin-top: -15px;
    margin-bottom: 40px;
    padding-top: 40px;
    padding-right: 80px;
    padding-left: 80px;
    padding-bottom: 10px;
    width: 115%;
    margin-left: -6%;
    background-color: #00a3cc;
    color: white;
;
    }
    
.desc {
        margin: 1em;
}
    
.heroes {
  width: 112%;
  margin-left: -6%;
}   
    
#NOW3 {
    width: 112%;
    margin-left: -6%;
    text-align: left;
    }

#map {
  display: block;
  height: 400px;
  max-width: 100%;
}

.president {
  max-width: 100%;
  height: 300px;
  float: left;;
}
   
.prescontainer {
    display: flex;
    width: 112%;
    margin-left: -6%;
    }
    
    
 #presidentspeech {
    float: right;
	margin: 0 auto;
	font-style: italic;
    background: linear-gradient(to right, #4ac29a -1%, #bdfff3 100%);
    color: white;
    box-shadow: none;
    height: 300px;
    }

  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
    
 
#helplinks {
  display: block;
  text-align: center;
  width: 115%;
  margin-left: -6%;
  color: #00a3cc;
  font-size: 1.2em;
  margin-top: 50px;
  padding-right: 2em;
}
    
.linkimages {
  display: flex;
  flex-wrap: wrap;
}

.rowimages{
  width: 50.33%;
  display: flex; 
  padding: 0.5em;
  width: 100%;
}
    
.links {
  max-width: 100%;
  height: 200px;
  display: flex;
  width: 49.99999%;
  padding: 1em;
} 
    
.buttonlinks {
  display: flex; 
  width: 100%;
  padding: 1em;
}

.link1, .link2 {
  background-color: #00a3cc;
  padding: 1em;
  border-radius: 5px;
  margin-top: -7%;
  text-align: center;
 }
  
    
.link1 {
    width: 59.5%;
}    
    
.link2 {
    width: 59.5%;
    margin-left: 29px;
}
    
.history {
  width: 112%;
  margin-left: -6%;
}

     
#OO2 {
    display: none;
}
    
    /* Create four equal columns that floats next to each other */
    
    
.column, .row {
    display: block;
    
    }
    
    .row {
    background-color: #00a3cc;
    width: 114%;
    margin-left: -40px;
    margin-top: 30px;
    padding: 1.5em;
    margin-bottom: 50px;
    }
    
    
.column {
    float: left;
    width: 50%;
    padding: 10px;
}

.column img {
    margin-top: 12px;
    width: 100%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
    
    #D3 {
        width: 112%;
        margin-left: -6%;
        background-color: mediumaquamarine;
        color: white;
    }
    
    #turtlefactswebsite {
        background-color: mediumaquamarine;
        color: white;
    }
    
   /* https://codepen.io/loriprift/pen/OWzBZZ */
    
    
    .carouselgallery {
        width: 112%;
        margin-left: -6%;
    } 
    
    .container {
        margin-left: 25%;
        margin-right: 25%;
    }
    
    
 .cube-container {
    float: left;
    margin-left: 16.6%;
  }

    
.form1,
.form2,
.form3 {
  height: 50%;
  background-color: mediumaquamarine;
  color: white;
  text-align: center;
  list-style-type: none;
  width: 70%;
  cursor: pointer;
  display: flex;
  margin: 10px;
}

.buttonforms {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.buttonforms a:hover {
  background-color: #f1f1f1;
  color: mediumaquamarine;
}
    
    
    
/* END FIRST BREAKPOINT */


/* SECOND BREAKPOINT (DESKTOP SIZE) */

@media screen and (min-width: 1000px) {
  body {
    background-color: white;
  }
  * {
    box-sizing: border-box;
  }
  h1 {
    display: none;
  }
  #videotitle {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 5em;
    margin-bottom: 0;
  }
  .videoaboutus {
    margin: 1em 1% 1em 1%;
    width: 100%;
    display: flex;
    justify-content: center;
    background: none;
    font-size: 1.3em;
    color: white;
    box-shadow: none;
    text-align: center;
  }
  .header-content {
    padding-top: 100px;
  }
  .v-header {
    height: 100vh;
    display: flex;
    align-items: center;
  }
  .container {
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
  }
  .fullscreen-video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .fullscreen-video-wrap video {
    min-height: 100%;
    min-width: 100%;
  }
  .header-overlay {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1;
    background: #225470;
    opacity: 0.65;
  }
  .header-content {
    z-index: 2;
  }
  .header-content p {
    font-size: 1.5rem;
    display: block;
    padding-bottom: 2rem;
  }
  header {
    background-color: mediumaquamarine;
    color: white;
  }
  /*main {
  float: centre;
  max-width: 1000px;
  background-color: mediumaquamarine;
} */
  nav {
    display: flex;
    width: 100%;
    float: right;
  }
  nav a {
    line-height: 3em;
    width: inherit;
  }
  #menu {
    display: none;
  }
  #nav-menu {
    display: block;
  }
  .mainnav {
    width: 10%;
    float: right;
    display: inline-block;
  }
  .fixedtopbar {
    text-align: right;
    padding-bottom: 2.4em;
    padding-top: 2em;
    margin-right: 0.6em;
  }
  .mainnav {
    transition-property: width;
    transition-duration: 3s;
    transition-timing-function: linear;
    transition-delay: 3s;
  }
  /* https://www.w3schools.com/css/css3_transitions.asp */
  /* Navigation Bar style ends */
  section {
    padding: 20px 0;
    width: 100%;
    background: white;
    text-align: left;
  }
  /*
  section {
    width: 22%;
    margin: 1em 1% 1em 1%;
    background: #222;
    border-color: #666;
    font-size: 1.5em;
  } */
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  .cube-container:first-child {
    margin-left: 0;
  }
  .cube-container:last-child {
    float: right;
  }
  .content {
    max-width: 900px;
    margin: auto;
  }
  /* https://www.youtube.com/watch?v=4S3HazxSi2Y */
  .turtlebanner {
    display: none;
  }
    
    .column {
        width: 25%;
    }
}


/* END SECOND BREAKPOINT */